@page "/"
@using SoapyForum.Models

<h1>Welcome to SoapyForum, made in Blazor!</h1>

<EditForm Model="@this" OnValidSubmit="OnValidSubmitAccountCreation"> 
    <label>Username:</label>
    <InputText @bind-Value="NewUsername" /> 
    <label>Password:</label>
    <InputText @bind-Value="NewPassword"></InputText>

    <button type="submit">Submit</button>
</EditForm>

<EditForm Model="@this" OnValidSubmit="OnValidSubmitMessageCreation"> 
    <label>Text:</label>
    <InputText @bind-Value="NewText" /> 
   
    <button type="submit">Submit</button>
</EditForm>

@foreach (var message in Messages)
{
    <Message />
}

@code 
{
    [Inject] public AppDbContext AppDbContext { get; set; }

    public List<Message> Messages { get; set; } = new();
    
    public List<Account> Accounts { get; set; } = new();
    
    protected override void OnInitialized()
    {
        base.OnInitialized();
        LoadData();
    }
    
    private void LoadData()
    {
        Messages = AppDbContext.Messages.OrderBy(t => t.Id).ToList();
        Accounts = AppDbContext.Accounts.OrderBy(t => t.Id).ToList();
    }

    private void OnValidSubmitAccountCreation()
    {
        AppDbContext.Accounts.Add(new Account()
        {
            Username = NewUsername,
            Password = NewPassword,
            UserCreatedAt = DateTime.Now
        });
        AppDbContext.SaveChanges();
        InvokeAsync(StateHasChanged);
    }

    public string NewUsername { get; set; }
    public string NewPassword { get; set; }

    private void OnValidSubmitMessageCreation()
    {
        AppDbContext.Messages.Add(new Message()
        {
            UserId = 2,
            Text = NewText,
            MessageTime = DateTime.Now
        });
        AppDbContext.SaveChanges();
        InvokeAsync(StateHasChanged);
    }
    
    public string NewText { get; set; }
    
}
